
/* Centralizar o conteúdo */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

.container h1 {
    font-size: 24px;
    color: #333;
}

.container i {
    font-size: 50px;
    color: #880d0d; /* Cor verde para o ícone */
    margin-top: 20px;
}

.container p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

